.MyCoin {
  position: fixed;
  top: 0;
  left: 0;
  width: 35vw;
  height: 100vh;
}
.welcome_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span {
  margin-top: 20px;
}
#title {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 250px;
}
#header {
  cursor: pointer;
  font-weight: 900;
  font-size: 30px;
  margin-left: 10px;
  justify-self: start;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
#coin_wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#coin_wrapper > li {
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
#coin_wrapper > :nth-child(2) {
  margin-bottom: 10px;
  font-size: 30px;
}
#coin_wrapper > :nth-child(3) {
  color: gray;
}
#coin_wrapper > :nth-child(4) {
  text-align: center;
}
#coin_wrapper > :nth-child(5) {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 0;
}

#coin_wrapper img {
  width: 20em;
}
